   .topnav {
  background-color: #333;
        overflow: hidden;
   }
   .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: black;
  color: white;
}    
.projects {
width: 440px;
float: left;
    height: 296px;
backround-color: #333;
    background-position: bottom;
}
   .projectlink{
width: 100%; 
    height: 100%;
}

figure {
display: block;
    width: 220px;
    height: 250px;
background-color: #333;

text-align: left;
    }
    figure img {
width: 200px; 
        height: 200px;
border: 1px solid #333;}
figcaption {
    padding-left: 10px;}    
    body {
      background-color: black;
      color: white;
    }  
    a {
      color: white;
    }
    img {
    border: 5px  solid #333;  
    }
    .gfg { 
    background-color: black; 
    border: 3px solid #333; 
    color: white; 
    padding: 5px 10px; 
    text-align: center; 
    display: inline-block; 
    font-size: 20px; 
    margin: 10px 30px; 
    cursor: pointer; 
    } 
